/* .pagination {
    display: flex;
    justify-content: center;
}

.pagination li {
    display: inline-block;
    margin: 0 5px;
}

.pagination li a,
.pagination li span {
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-decoration: none;
    color: #007bff;
}

.pagination li a:hover,
.pagination li span.current {
    background-color: #007bff;
    color: #fff;
} */

.public .page-link {
    position: relative;
    display: block;
    color: var(--color-5) !important;
    text-decoration: none;
    background-color: var(--color-6);
    border: 1px solid var(--color-3) !important;
}


.public .page-link:hover {
    z-index: 2;
    color: var(--color-6) !important;
    background-color: var(--color-4);
    border-color: var(--color-5);
}


.public .page-link:focus {
    z-index: 3;
    outline: 0;
    box-shadow: none;
}

.public .page-item.active .page-link {
    z-index: 3;
    color: var(--color-6) !important;
    background-color: var(--color-5);
    border-color: var(--color-5);
}

