/* @import 'bootstrap/css/bootstrap' */
@import 'bootstrap/dist/css/bootstrap.min.css';

@import 'bootstrap-icons/font/bootstrap-icons.css';
@import '@fortawesome/fontawesome-free/css/all.min.css';

/* @import './admin/admin.css'; */
@import './admin/btn.css';
@import './admin/sidebar.css';
@import './admin/modal.css';
@import './admin/cards.css';
@import './admin/tabla.css';
@import './admin/paginacion.css';

/* @import './admin/buscador_filtro.css'; */

:root {
    --admin_c1: #3a3132;
    --admin_c2: #0f4571;
    --admin_c3: #386dbd;
    --admin_c4: #009ddd;
    --admin_c5: #05d3f8;
    --admin_c6: #f5f5f5;
    --admin_c7: #000000;

    --color-1: #1E1E2F;
    --color-2: #2C2C3E;
    --color-3: #2F80ED;
    --color-4: #27AE60;
    --color-5: #EB5757;
    --color-6: #E0E0E0;
    --color-7: #FFFFFF;
    --color-8: #F2C94C;
    --color-9: #56CCF2;
    --color-10: #F8F9FA;

    /* Colores del página */
    --color-primario: #4723D9;
    --color-secundario: #AFA5D9;
    /* --color-secundario: #d3c8fd; */
    --color-fondo: #F7F6FB;
    /* --color-fondo: #ffffff; */

    /* Colores de los botones */
    --btn-subir: #009970;
    --btn-crear: #009970;
    --btn-ver: #1b9fd3;
    --btn-cancelar: #999999;
    --btn-eliminar: #AB1A3A;
    --btn-editar: #ffaa3e;


    /* --font-title: "Baloo 2", sans-serif;
    --font-text: "Nunito", sans-serif; */
    --font-title: "Neutron", sans-serif;
    --font-text: "Noto Sans", sans-serif;
}