@import 'bootstrap/dist/css/bootstrap.min.css';

@import 'bootstrap-icons/font/bootstrap-icons.css';
@import '@fortawesome/fontawesome-free/css/all.min.css';

@import './public/navbar.css';
@import './public/head.css';
@import './public/content.css';
@import './public/footer.css';
/* @import './public/cards_public.css'; */ 
/* @import './public/cards.css'; */
/* @import './public/card2.css'; */
@import './public/card3.css';
@import './public/button.css';
@import './public/login.css';
@import './public/paginacion.css';
@import './public/animacion.css';
@import './public/fondo.css';
@import './public/btn.css';

:root {
    --color-1:#f5f5f5;
    --color-2:#1A1F71;
    --color-3:#4A4A4A ;
    --color-4:#3b75e0;
    --color-5:#1A1F71;
    --color-6:#FFFFFF;
    --color-7:#252525;

    --font-title: "Neutron", sans-serif;
    --font-text: "Noto Sans", sans-serif;
    /* --font-title: "Baloo 2", sans-serif;
    --font-text: "Nunito", sans-serif; */



    --color_primario: #F08236;
    --color_letras: #4b4b4b;
    /* --color_primario-rgb: var(--color_1-rgb); */
    --color_primario-rgb: #d7d7d7;
    /* Valores RGB del color primario */
    /* --color_secundario-rgb: var(--color_2-rgb); */
    --color_secundario-rgb: #ffffff;
    /* Valores RGB del color primario */
    --color_fondo_dropdown: #e0e0e0;
    /* --color_1: #009970;
    --color_2: #00b383;
    --color_3: #f5b8e3;
    --color_4: #d1fffd; */
    --color_5: #7dd1e8;
    --color_5-rgb: 125, 209, 232; /* Valores RGB de color_5 */

    --color_4: #4cb7e1;
    --color_4-rgb: 76, 183, 225; /* Valores RGB de color_4 */

    --color_3: #1ab6cb;
    --color_3-rgb: 26, 182, 203; /* Valores RGB de color_3 */

    --color_2: #00a5a8;
    --color_2-rgb: 0, 165, 168; /* Valores RGB de color_2 */

    --color_1: #008a87;
    --color_1-rgb: 0, 138, 135; /* Valores RGB de color_1 */
    --color_6: #fff;
    --color_7: #636363;
    --color_8: #000;

    --brand-color: #00b383;
    --black: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);

    /* --font-title: "Montserrat", sans-serif;
    --font-text: "Lato", sans-serif; */

    --btn-verde: #28a745;
    --btn-azul: #007bff;
    --btn-rojo: #dc3545;
    --btn-naranja: #fd7e14;
    --btn-gris: #6c757d;
    --btn-amarillo: #ffc107;
    --btn-descargar: #28a745;
    --btn-ver: #17a2b8;
    --color-primario: #007bff;
    --color-secundario: #6c757d;
}

