/* Estilos generales para todos los botones */
.custom-button-group {
    display: flex;
    justify-content: center;
}

.custom-button {
    /* font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: normal; */
    color: #fff;
    border: none;
    position: relative;
    border-radius: 14px;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
}

.custom-button:hover {
    background: #fff;
    border-radius: 0px;
}

.custom-button:before, .custom-button:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    transition: 400ms ease all;
}

.custom-button:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.custom-button:hover:before, .custom-button:hover:after {
    width: 100%;
    transition: 800ms ease all;
}

/* Botón Subir */
.custom-button-subir {
    background: var(--btn-subir);
}

.custom-button-subir:hover {
    color: var(--btn-subir);
}

.custom-button-subir:before, .custom-button-subir:after {
    background: var(--btn-subir);
}

/* Botón Crear */
.custom-button-crear {
    background: var(--btn-crear);
}

.custom-button-crear:hover {
    color: var(--btn-crear);
}

.custom-button-crear:before, .custom-button-crear:after {
    background: var(--btn-crear);
}

/* Botón Ver */
.custom-button-ver {
    background: var(--btn-ver);
}

.custom-button-ver:hover {
    color: var(--btn-ver);
}

.custom-button-ver:before, .custom-button-ver:after {
    background: var(--btn-ver);
}

/* Botón Eliminar */
.custom-button-eliminar {
    background: var(--btn-eliminar);
}

.custom-button-eliminar:hover {
    color: var(--btn-eliminar);
}

.custom-button-eliminar:before, .custom-button-eliminar:after {
    background: var(--btn-eliminar);
}

/* Botón Editar */
.custom-button-editar {
    background: var(--btn-editar);
}

.custom-button-editar:hover {
    color: var(--btn-editar);
}

.custom-button-editar:before, .custom-button-editar:after {
    background: var(--btn-editar);
}

/* Botón cancelar */
.custom-button-cancelar {
    background: var(--btn-cancelar);
}

.custom-button-cancelar:hover {
    color: var(--btn-cancelar);
}

.custom-button-cancelar:before, .custom-button-cancelar:after {
    background: var(--btn-cancelar);
}

/* Botón primario */
.custom-button-primario {
    background: var(--color-primario);
}

.custom-button-primario:hover {
    color: var(--color-primario);
}

.custom-button-primario:before, .custom-button-primario:after {
    background: var(--color-primario);
}

/* botones con otro nombre */

/* Botón Crear */
.custom-button-verde {
    background: var(--btn-verde);
}

.custom-button-verde:hover {
    color: var(--btn-verde);
}

.custom-button-verde:before, .custom-button-verde:after {
    background: var(--btn-verde);
}

/* Botón Ver */
.custom-button-azul {
    background: var(--btn-azul);
}

.custom-button-azul:hover {
    color: var(--btn-azul);
}

.custom-button-azul:before, .custom-button-azul:after {
    background: var(--btn-azul);
}

/* Botón Eliminar */
.custom-button-rojo {
    background: var(--btn-rojo);
}

.custom-button-rojo:hover {
    color: var(--btn-rojo);
}

.custom-button-rojo:before, .custom-button-rojo:after {
    background: var(--btn-rojo);
}

/* Botón Editar */
.custom-button-naranja {
    background: var(--btn-naranja);
}

.custom-button-naranja:hover {
    color: var(--btn-naranja);
}

.custom-button-naranja:before, .custom-button-naranja:after {
    background: var(--btn-naranja);
}

/* Botón cancelar */
.custom-button-gris {
    background: var(--btn-gris);
}

.custom-button-gris:hover {
    color: var(--btn-gris);
}

.custom-button-gris:before, .custom-button-gris:after {
    background: var(--btn-gris);
}

/* Botón primario */
.custom-button-primario {
    background: var(--color-primario);
}

.custom-button-primario:hover {
    color: var(--color-primario);
}

.custom-button-primario:before, .custom-button-primario:after {
    background: var(--color-primario);
}

@media (max-width: 576px) {
    .btn-text {
        display: none;
    }
}

