.admin .search-input-group {
    position: relative;
}

.admin .search-icon-container {
    background-color: transparent; /* Elimina el fondo gris */
    border: 1px solid #ccc; /* Asegúrate de que el borde se mantenga */
    border-right: none; /* Elimina el borde derecho para que se vea continuo */
    border-radius: 20px 0 0 20px; /* Bordes redondeados a la izquierda */
}

.admin .search-input {
    padding-left: 0px; /* Espacio para el icono */
    height: 40px;
    font-size: 16px; /* Tamaño del texto */
    box-sizing: border-box; /* Incluye padding en el ancho total */
    border: 1px solid #ccc; /* Borde del input */
    border-left: none; /* Elimina el borde izquierdo para que se vea continuo */
    border-radius: 0 20px 20px 0; /* Bordes redondeados a la derecha */
    outline: none; /* Elimina el contorno al enfocar */
}

.admin .search-input:focus {
    border-color: #ccc; /* Mantiene el color del borde al enfocar */
    box-shadow: none; /* Elimina el efecto de sombra al enfocar */
}

/* Estilos para el botón de búsqueda */
.admin .btn-primary {
    border-radius: 10px; /* Bordes redondeados */
    padding: 0 20px; /* Espaciado interno */
    height: 40px; /* Altura del botón */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilos para el menú desplegable */
.admin .dropdown-menu {
    background-color: white; /* Color de fondo del menú desplegable */
    border: 1px solid #ccc; /* Borde del menú desplegable */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px; /* Espaciado interno */
}

/* Estilos para las etiquetas del menú desplegable */
.admin .dropdown-menu .form-label {
    font-weight: bold; /* Negrita para las etiquetas */
    cursor: pointer; /* Cursor de puntero */
    position: relative; /* Necesario para los pseudo-elementos */
    padding-bottom: 5px; /* Espacio para la línea */
}

/* Pseudo-elementos para la línea en el label */
.admin .dropdown-menu .form-label::before,
.admin .dropdown-menu .form-label::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #007bff;
    transition: width 0.5s ease;
}

/* Línea izquierda */
.admin .dropdown-menu .form-label::before {
    left: 50%;
}

/* Línea derecha */
.admin .dropdown-menu .form-label::after {
    right: 50%;
}

/* Estilos para el label al pasar el cursor */
.admin .dropdown-menu .form-label:hover::before,
.admin .dropdown-menu .form-label:hover::after,
.admin .dropdown-menu .form-label:focus::before,
.admin .dropdown-menu .form-label:focus::after {
    width: 50%;
}

/* Estilos para las etiquetas de los checkboxes del menú desplegable */
.admin .dropdown-menu .form-check-label {
    margin-left: 10px; /* Espaciado a la izquierda de las etiquetas de los checkboxes */
}

/* Estilos para las opciones del menú desplegable */
.admin .dropdown-menu .form-check {
    position: relative;
    padding-bottom: 5px; /* Espacio para la línea */
    transition: background-color 0.5s ease, box-shadow 0.5s ease; /* Transición suave */
}

/* Pseudo-elementos para la línea */
.admin .dropdown-menu .form-check::before,
.admin .dropdown-menu .form-check::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #007bff;
    transition: width 0.5s ease;
}

/* Línea izquierda */
.admin .dropdown-menu .form-check::before {
    left: 50%;
}

/* Línea derecha */
.admin .dropdown-menu .form-check::after {
    right: 50%;
}

/* Estilos para las opciones del menú desplegable al pasar el cursor */
.admin .dropdown-menu .form-check:hover::before,
.admin .dropdown-menu .form-check:hover::after,
.admin .dropdown-menu .form-check:focus::before,
.admin .dropdown-menu .form-check:focus::after {
    width: 50%;
}

.admin .dropdown-menu .form-check:hover,
.admin .dropdown-menu .form-check:focus {
    
    border-radius: 10px; /* Bordes redondeados */
}


.admin #intervaloAnios.show {
    display: block; /* Mostrar cuando se activa */
    max-height: 100px; /* Ajusta este valor según sea necesario */
    opacity: 1;
}

.admin #intervaloAnios .input-group {
    display: flex;
    align-items: center;
}

.admin #intervaloAnios .form-control {
    max-width: 80px;
    margin-right: 5px;
}

.admin #intervaloAnios .input-group-text {
    margin-right: 5px;
}